.message {
    padding:10px;
    margin:10px;
    width:fit-content;
}

.message__user {
    color:white;
    margin-left:auto;
    text-align: right !important;
}

.message__userCard {
    background-color: rgb(10,128,254) !important;
}

.message__guestCard {
    background-color: rgb(233,233,235) !important;
}

.typography__user {
    color:white;
}

.typography__guest {
    color:black;
}

.Card {
    border-radius: 30px;
}

.message__sender {
    display:flex;
    align-items: flex-start;
    font-size:20px;
    color: rgb(128,128,128);
}

